<section class="footer--section">
  <div class="footer--container">
    <div>
      <h5>Links</h5>
      <a href=""><p>Home</p></a>
      <a href=""><p>About</p></a>
      <a href=""><p>Services</p></a>
      <a href=""><p>Contact</p></a>
      <a href=""><p>Buy</p></a>
      <a href=""><p>Rent</p></a>
      <a href=""><p>Find Room</p></a>
    </div>

    <div>
      <h5>Contact</h5>
      <p>Phone: <a href="">+2349155334411</a></p>
      <p>Whatsapp: <a href="">+2347080810581</a></p>
      <p>Email: <a href="mailto:mikebillyy@gmail.com">mikebillyy@gmail.com</a></p>
    </div>

  </div>
</section>

<footer>
  <p>&copy;<a href=""> manueljo&#9996;</a></p>
</footer>
